<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.medic.quotesbook" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <permission android:name="com.medic.quotesbook.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.medic.quotesbook.permission.C2D_MESSAGE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".views.activities.BaseActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.activities.QuoteActivity"
            android:label="@string/title_activity_quote"
            android:parentActivityName=".views.activities.BaseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.medic.quotesbook.views.activities.BaseActivity" />
        </activity>
        <activity
            android:name=".views.activities.AuthorsActivity"
            android:label="@string/title_activity_authors" >
        </activity>

        <receiver android:name=".receivers.QuotesBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.medic.quotesbook" />

            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.OnBootReceiver">
            <intent-filter>
                <action android:name="ANDROID.INTENT.ACTION.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.QuoteTimeReceiver"></receiver>

        <service android:name=".services.GlueQuotesService"></service>
        <service android:name=".services.PrepareDaysQuoteService"></service>
    </application>

</manifest>
