<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.medic.quotesbook"
    android:versionCode="3"
    android:versionName="0.5" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="21" />

    <supports-screens android:xlargeScreens="false" android:largeScreens="false" android:normalScreens="true" android:smallScreens="true" android:anyDensity="true"></supports-screens>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission
        android:name="com.medic.quotesbook.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.medic.quotesbook.permission.C2D_MESSAGE" />

    <!--<android:uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- This meta-data tag is required to use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".views.activities.BaseActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--<meta-data android:name="android.app.default_searchable"
                android:value=".views.activities.SearchActivity" />-->

        </activity>
        <activity
            android:name=".views.activities.QuoteActivity"
            android:label="@string/title_activity_quote"
            android:parentActivityName=".views.activities.BaseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.medic.quotesbook.views.activities.BaseActivity" />
        </activity>
        <activity
            android:name=".views.activities.AuthorsActivity"
            android:label="@string/title_activity_authors" >
        </activity>

        <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <receiver
            android:name=".receivers.QuotesReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.medic.quotesbook" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.OnBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.QuoteTimeReceiver" />

        <service android:name=".services.GlueQuotesService" />
        <service android:name=".services.PrepareDaysQuoteService" />

        <receiver
            android:name=".receivers.InstallReferrerReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".views.activities.WelcomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_welcome"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".views.activities.QuoteImageEditorActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
        </activity>
        <activity
            android:name=".views.activities.SearchActivity"
            android:label="@string/title_activity_quote_search"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName=".views.activities.BaseActivity">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.medic.quotesbook.views.activities.BaseActivity" />

        </activity>
    </application>

</manifest>
